.container {
  margin-bottom: 85px;
}

.orange-bg {
  background: #FEEAE9;
  border-radius: 10px;
}

.carousel-item {
  padding: 10px 30px;
}

.buy-now-button {
  background: linear-gradient(to right, #FF589B, #FF136F);
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  color: #fff;
}

.categories h1 {
  color: white;
}

.categories img {
  width: 100px;
}

.price {
  color: #FF136F;
}

.cat-1 {
  background: linear-gradient(to right, #FF9C35, #FFD019);
}

.cat-2 {
  background: linear-gradient(to right, #FF589B, #FF136F);
}

.cat-3 {
  background: linear-gradient(to right, #4289FF, #07F8C3);
}

.cat-1,
.cat-2,
.cat-3 {
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;

}

.card-footer {
  background: rgb(240, 229, 229);
  border-top: none;
}

.subscribe {
  height: 40vh;
}

.subscribe input {
  border: none;
  font-weight: 300;
  width: 250px;
  height: 40px;
}

.subscribe input:focus {
  outline: none;

}

.bt-1 {
  background: linear-gradient(to right, #333, black);
}

.p-1 {
  color: #444;
}